
.head-buy{
    position: absolute;
    color:sandybrown;
    display:flex;
  top:120px;
  left:60px;
}


#cname{
position: relative;
right:43px;
}

#cquant{
    position: relative;
    left:114px;
}

.list{
    position: absolute;
    top:215px;
    left:19px;
    font-weight: bold;
}

.quantity-list{
    position:absolute;
    bottom:76px;
    left:330px;
}

.btc-buy{
    position: relative;
    top:14px;
    font-weight:bolder;
}

.eth-buy{
    position: relative;
    top:8px;
    font-weight:bolder;
}


.usdt-buy{
    position: relative;
    top:3.5px;
    font-weight:bolder;
}


.bnb-buy{
    position: relative;
    top:0.5px;
    font-weight:bolder;
}


.ada-buy{
    position: relative;
    top:-1px;
    font-weight:bolder;
}


.doge-buy{
    position: relative;
    top:-5px;
    font-weight:bolder;
}


.xrp-buy{
    position: relative;
    top:-9px;
    font-weight:bolder;
}


.dot-buy{
    position: relative;
    bottom:9px;
    font-weight:bolder;
}


.usdc-buy{
    position: relative;
    bottom:14px;
    font-weight:bolder;
}


.icp-buy{
    position: relative;
    top:-17px;
    font-weight:bolder;
}

.buy-but{
    position:absolute;
    bottom:75px;
    left:200px;
}

