.sell-avai{
    position: absolute;
    bottom:73px;
    left:520px;

    height: 530px;
    width: 645px;

    background-color: #1E90FF;
}

.sell-head{
    position: absolute;
    display: flex;
}

.but-id{
    position: relative;
    top:-5px;
    left:350px;
}

.all-sell{
    position: relative;
    display: flex;
    top:40px;
}

.yathuku_button{
    position:absolute;
    left: 200px;
    /* top: 900px; */
    z-index: 3;
    color: aqua;
}

.vid{
    
    position: absolute;
    bottom:272px;
    left:1167px;
}

.news{
    position: absolute;
    top:470px;
    left: 1200px;
}
